<html lang="zh-CN">
<head>
	<title>{{title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#000000">
	<meta class='swiftype' name='title' data-type='string' content='{{topic_title}}' />
	<script>var ver="{{version}}";var allowAjax=true;</script>

	<!--[if lte IE 8]><script src="/static/css/ie/html5shiv.js"></script><![endif]-->
	<script src="/static/js/init.js?v={{version}}"></script>

	<link rel="apple-touch-icon" href="/static/images/icon/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="/static/images/icon/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/static/images/icon/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="/static/images/icon/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/static/images/icon/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="/static/images/icon/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="/static/images/icon/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="/static/images/icon/apple-touch-icon-152x152.png" />

	<noscript>
		<link rel="stylesheet" href="/static/css/skel.css" />
		<link rel="stylesheet" href="/static/css/style.css" />
		<link rel="stylesheet" href="/static/css/style-xlarge.css" />
	</noscript>
	<!--[if lte IE 9]><link rel="stylesheet" href="/static/css/ie/v9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="/static/css/ie/v8.css" /><![endif]-->
	{{header}}
</head>
<body>
	<header id="header" class="skel-layers-fixed">
		<h1 id="logo"><a href="/">LeanClub</a></h1>
		<nav id="nav">
			<ul>
				<li><a href="/">首页</a></li>
				<li><a id="search_btn" href="javascript:;">搜索</a></li>
				<li><a id="login" href="javascript:;" class="button special">登录</a></li>
			</ul>
		</nav>
	</header>

	<div id="main" class="wrapper style1">
		<div class="container">
			{{#topic}}
			<header id="post-header" class="major">
				<h2>{{title}}</h2>
			</header>
			<div class="row 150%">
				<div class="8u 12u$(medium)">
					<section id="content">
						<div class="post-wrapper" data-swiftype-index='true'>
							<div class="post" id="L1">
								<img class="avatar" src="/static/images/loading.png" data-echo="/info/avatar/{{user}}">
								<ul>
									<li class="header"><a href="/user/name/{{user}}">{{user}}</a> · 楼主 · <span class="timefromnow" data-time="{{createAt}}"></span></li>
									{{#content}}
									<li class="content">
										{{{.}}}
									</li>
									{{/content}}
								</ul>
							</div>
							{{#replies}}
							<div class="post" id="L{{floor}}">
								<img class="avatar" src="/static/images/loading.png" data-echo="/info/avatar/{{user}}">
								<ul>
									<li class="header" data-floor="{{floor}}"><a href="/user/name/{{user}}">{{user}}</a> · {{floor}} 楼 · <span class="timefromnow" data-time="{{createAt}}"></span> · <a href="javascript:;" class="atreply">引用</a></li>
									<li class="content">
										{{{content}}}
									</li>
								</ul>
							</div>
							{{/replies}}
						</div>
					</section>
					<section id="reply">
						<textarea id="replyContent" placeholder="回复主题" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" onkeyup="autogrow(this);"></textarea>
						<ul class="actions">
							<li><input id="sendReply" type="button" value="发送" class="special"></li>
							<li><a target="_blank" href="https://help.github.com/articles/github-flavored-markdown/" rel="nofollow" class="button"><img src="/static/images/markdown.svg"></a></li>
							<li><a id="uploadfile" href="javascript:;" class="button"><img src="/static/images/upload.svg"></a></li>
						</ul>
					</section>
				</div>
				<div class="4u$ 12u$(medium)">
					<section id="sidebar">
						<section id="topic_info">
							<h3>主题信息</h3>
							<p>创建时间: <span class="time" data-time="{{createAt}}"></span></p>
							<p>创建用户: {{user}}</p>
							<p>所在分类: <a class="category" href="/node/{{categoryurl}}/1">{{categoryname}}</a></p>
							<p>回复数量: {{reply_num}}</p>
							<p>编辑次数: <span id="edit_times">{{edit_times}}</span></p>
							<p>最后回复: <span class="timefromnow" data-time="{{lastReply}}"></span></p>
							<footer>
								<ul class="actions">
									<li><a id="edit_history" href="#" class="button">查看编辑历史</a></li>
								</ul>
							</footer>
						</section>
						{{/topic}}
						<section id="userinfo">
							<h3>用户信息</h3>
							<p><img id="u_avatar" class="avatar" src="/static/images/loading.png"> <span id="u_name" style="margin-left:1em;">Loading</span></p>
							<footer>
								<ul class="actions" style="margin-bottom:0.5em">
									<li><a href="/post/new" class="button">发表主题</a></li>
									<li><a href="/settings" class="button">修改设置</a></li>
								</ul>
								<ul class="actions">
									<li><a id="view_noti" href="/notifications" class="button">查看提醒</a></li>
									<li><a href="javascript:localStorage.removeItem('user');window.location.href='/'" class="button">注销登录</a></li>
								</ul>
							</footer>
						</section>
						<section class="menu" style="display:none">
							<!--<a class="menu-item selected" href="/hot">热门</a>-->
							<a class="menu-item selected" href="/">最新</a>
							{{{categorynav}}}
						</section>
					</section>

				</div>
			</div>

		</div>
	</div>

	<footer id="footer">
		<script type="text/javascript" src="/static/js/main.js?v={{version}}" async></script>
		<script type="text/javascript" src="/static/js/marked.js?v={{version}}" async></script>
		<div id="overlay" style="display:none"></div>
		<div id="overlay-window" style="display:none"></div>
		<div id="search-overlay" style="display:none"><h3>搜索</h3><div id="search-field"><center><input type="text" class="st-default-search-input"></center></div><div id="search-result" class="st-search-container"></div></div>
		<div id="preloader"><div id="preloaderSpinner" class="spinner"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div><div class="rect5"></div></div><p id="preloadtext">正在初始化页面</p></div>

		{{footer}}
		<ul>
			<li><a href="/about">About</a></li><li><a href="/privacy">Privacy Policy</a></li><li><a href="/faq">FAQ</a></li>
		</ul>
		<ul>
			<li>Version: {{version}}</li>
			<li>Online: <span id="onlinecount">{{online}}</span></li>
			<li>Time: <span id="gentime">{{time}}</span>s</li>
		</ul>
		<ul class="copyright">
			<li>© 2015 LeanClub. All rights reserved.</li>
		</ul>
		
	</footer>
</body>
</html>